.page-content {
	height: 180px;
}

.login-type {
	border: solid 1px #48bf48;
	height: 30px;
	width: 300px;
	margin: 0 auto;
}

.login-type-item {
	width: 50%;
	height: 100%;
	float: left;
	line-height: 30px;
	text-align: center;
}

#divPwd {
	width: 300px;
	margin: 0 auto;
}

#usePwd {
	background-color: #48bf48;
	color: white;
}

#usePhone {
	background-color: white;
	color: black;
}

#divPhone {
	width: 300px;
	margin: 0 auto;
	display: none;
}

.ds-row-title {
	font-size: 14px;
	color: #48bf48;
	width: 20%;
}

.ds-row-value {
	width: 80%;
}

.ds-row-value1 {
	width: 50%;
}

.ds-row-value2 {
	width: 30%;
	text-align: center;
}

#username, #password, #captchaCode, #mobilePhone, #smsCode {
	width: 98%;
}