body {
}

.page-border {
	border: solid 1px #48bf48;
	border-radius: 4px;
	margin: 30px auto;
	width: 480px;
}

.page-title {
	background-color: #48bf48;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
	text-align: center;
}

.page-content {
	margin: 15px;
}

a {
  color: #00b7ff;
}
