<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/login.js"></script>
	</head>
	<body>
		<div class='page-border'>
			<div class='page-title'>登录</div>
				<div class='page-content'>
				<div class='login-type'>
					<div class='login-type-item' id="usePwd">密码登录</div>
					<div class='login-type-item' id="usePhone">手机登录</div>
				</div>
				<div id="divPwd">
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">用户名：</div>
						<div class="ds-table-column ds-row-value"><input type='text' id='username' /></div>
					</div>
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">密　码：</div>
						<div class="ds-table-column ds-row-value"><input type='password' id='password' /></div>
					</div>
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">　</div>
						<div class="ds-table-column ds-row-value"><div href="#" class="ds-button1" id="btnPwdLogin">登录</div></div>
					</div>
				</div>
				<div id="divPhone">
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">校验码：</div>
						<div class="ds-table-column ds-row-value1"><input type="text" id="captchaCode" /></div>
						<div class="ds-table-column ds-row-value2"><img id="captchaImage" /></div>
						<input type="hidden" id="captchaToken" />
					</div>
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">手机号：</div>
						<div class="ds-table-column ds-row-value1"><input type="text" id="mobilePhone" value="15038112277" /></div>
						<div class="ds-table-column ds-row-value2"><a href="#" id="requestSmsCode">获取验证码</a></div>
					</div>
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">验证码：</div>
						<div class="ds-table-column ds-row-value"><input type="text" id="smsCode" value="903756" /></div>
					</div>
					<div class="ds-table-row">
						<div class="ds-table-column ds-row-title">　</div>
						<div class="ds-table-column ds-row-value"><div class="ds-button1" id="btnPhoneLogin">登录</div></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
