<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <script src="http://cdn1.lncld.net/static/js/2.3.2/av-min.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/leancloud.js"></script>
    </head>
    <body>
        <div>
		    <span>Hello</span>
		</div>
        <div>
			<a href="logout">注销</a>
		</div>
    </body>
</html>
